html {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    font-family: ProximaNova!important;
    font-weight: 200;
}

div.main {
    margin: 1% 5%;
    padding: 1% 5%;
}

div.case_summary {
    padding: 10px;
    #background: lightgray;
    font-size: 12px;
    cursor: pointer;
}

div.case_summary b {
    color: #FF4136;
}

div.case_summary:hover {
    background: #FFDC00
    
}

div.rc-engine {
    padding: 10px 0px;
    background: #ccc;
}

div.recommended_case_summary {
    padding: 5px;
}

div.recommended_case_summary:hover {
    background: #7FDBFF;
}