{% load staticfiles %}
<div class="header-start"><a style="text-decoration: none" href="http://lakshmanswaroop.com/"></a>Dark Horse NLP</div>
<ul class="header-ul">
    <li class="header-li"><a style="text-decoration: None; color: white;" href="/submit">Submit Case</a></li>
    <li class="header-li"><a style="text-decoration: None; color: white;" href="/unresolved">Pending Cases</a></li>
    <li class="header-li"><a style="text-decoration: None; color: white;" href="/contact">Contact</a></li>
</ul>
<div class="header-end">
    <div><a href="http://github.com/laxy/darkhorse-nlp"><img height="100%" width="auto" src={% static "img/github.png" %} \></a></div>
</div>